.login-container {
  padding: 3% 2% 0% 2%;
  background-color: #f4f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container-mobile {
  padding: 3% 2% 0% 2%;
  background-color: #f4f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-title {
  margin-bottom: 2%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

.index-title-log {
  border-bottom: 5px solid #005EB8;
  line-height: 1.0;
  margin-bottom: 20px;
  letter-spacing: 10px;
  text-align: center;
  width: fit-content;
}

.title-col {
}

.home-text {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-weight: 350;
  letter-spacing: 0.5px;
  padding-right: 10%;
}

button[type=submit].btn {
  border-radius: 20px;
  background-color: #005EB8;
  color: #fff;
}

input.form-control, input.form-control:focus {
  background-color: white;
  color: black;
  border-color: lightgrey;
  border-radius: 8px;
  border-width: 1px;
}

input.form-control:focus {
  box-shadow: none;
  border-bottom-color: lightgrey;
}

form {
  margin: 0px 16px;
}

.spinner-hidden {
  display: none;
}

spinner-shown {
  display: block;
}

/*Mobile*/
@media only screen and (max-width: 1200px) {
  .index-title-log {
    font-size:4rem;
  }
}

@media only screen and (max-width: 992px) {
  .index-title-log {
    font-size: 3rem;
  }
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .mobileRow {
    display: block !important;
  }

  .desktopCol {
    display: none !important;
  }

  .desktopContainer {
    height: 0;
  }
}
